@use "functions" as *;

:where(html) {
  --container-max: 1600px;
  --content-width: min(100%,var(--container-max,1600px));
}

$map-for-breakpoints: (
  'small': '512px',
  'medium': '768px',
  'large': '1024px',
  'xlarge': '1280px',
  '2xlarge': '1440px',
  '3xlarge': '1600px'
);


$dim     : #1c2229;
$dark    : #111217;
$darker  : #101112;
$darkerer: #0e1012;


// Porting CSS custom props into Sass variables for easier typing shorthand
$phi:                 var(--phi);
$e:                   var(--e);
$pi:                  var(--pi);
$space:               var(--space-phi);
$space-phi:           var(--space-phi);
$space-e:             var(--space-e);
$space-pi:            var(--space-pi);

$p:                   var(--p);
$xs:                  0.7rem;
$sm:                  var(--sm);
$md:                  var(--md);
$lg:                  var(--lg);
$xl:                  var(--xl);
$xxl:                 var(--xxl);
$xxxl:                var(--xxxl);
$xxxxl:               var(--xxxxl);

$h1:                  var(--h1);
$h2:                  var(--h2);
$h3:                  var(--h3);
$h4:                  var(--h4);
$h5:                  var(--h5);
$h6:                  var(--h6);

// Some Sass variables to call up fonts imported into "/functions/fonts"
$montser:            'Montserrat', sans-serif;
$oswald:             'Oswald', sans-serif;
$work:               'Work Sans', sans-serif;

$text-font:           $work;
$text-line:           1.618em;
$text-weight:         300;
$heading-font:        $oswald;
$heading-weight:      500;
