@use "gerillass" as *;
@use "accoutrement/sass/tools";

$spacing-global: (
   "phi" : 1.618,
   "e" : 2.71828,
   "pi" : 3.14159,
   "golden" : 1.618,
   "content-width" : 1920px,
   "spacing-unit" : calc(1.618rem * var(--phi)),
   "space-phi" : calc(1.618rem * var(--phi)),
   "space-e" : calc(1.618rem * var(--e)),
   "space-pi" : calc(1.618rem * var(--pi))
);

$fluid-text-sizes: (
   "base" : clamp(1rem, 0.34vw + 0.91rem, 1.19rem),
   "p" : clamp(1rem, 0.314vw + 1.184rem, 1.314rem),
   "sm" : clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem),
   "md" : clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem),
   "lg" : clamp(1.56rem, 1vw + 1.31rem, 2.11rem),
   "xl" : clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem),
   "xxl" : clamp(2.24rem, 2.38vw + 1.85rem, 3.45rem),
   "xxxl" : clamp(3.05rem, 3.54vw + 2.17rem, 5rem),
   "xxxxl" : clamp(4.20rem, 4.81vw + 2.66rem, 5.8rem),
   "h1-xl" : clamp(6.854rem, 6.85vw + 5.089rem, 11.089rem),
   "h1" : clamp(4.236rem, 4.34vw + 2.854rem, 6.854rem),
   "h2" : clamp(2.618rem, 2.69vw + 1.236rem, 4.236rem),
   "h3" : clamp(1.618rem, 1.84vw + 1.121rem, 2.618rem),
   "h4" : clamp(1.314rem, 0.82vw + 1.618rem, 1.618rem),
   "h5" : clamp(1.101rem, 0.60vw + 1.303rem, 1.303rem),
   "h6" : clamp(0.969rem, 0.50vw + 1.121rem, 1.121rem)
);

$fluid-sizes: (
   "1": clamp(.5rem, 1vw, 1rem),
   "2": clamp(1rem, 2vw, 1.5rem),
   "3": clamp(1.5rem, 3vw, 2rem),
   "4": clamp(2rem, 4vw, 3rem),
   "5": clamp(4rem, 5vw, 5rem),
   "6": clamp(5rem, 7vw, 7.5rem),
   "7": clamp(7.5rem, 10vw, 10rem),
   "8": clamp(10rem, 20vw, 15rem),
   "9": clamp(15rem, 30vw, 20rem)
);

$container-sizes: (
   "article-1" : 20ch,
   "article-2" : 45ch,
   "article-3" : 60ch,
   "article-4" : 84ch,
   "heading-1" : 20ch,
   "heading-2" : 25ch,
   "heading-3" : 35ch,
   "flex-1" : clamp(50rem, 65vw, 60rem),
   "flex-2" : clamp(60rem, 80vw, 80rem)
);

:where(html) {
   @include tools.custom-props($fluid-text-sizes);
   @include tools.custom-props($fluid-sizes, 'size-');
   @include tools.custom-props($container-sizes, 'wrap-');
   @include tools.custom-props($spacing-global);
}

@include breakpoint(max, medium) {
   :where(html) {
      --h1: var(--xxxl);
      --h2: var(--xxl);
      --h3: var(--xl);
      --h4: var(--lg);
      --h5: var(--md);
   }
}
